@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    background: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

h3 {
    text-transform: uppercase;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: inherit;
}

.overlay {
    height: 100%;
    width: 100%;
    background: #212121;
}

.row {
    display: flex;
    &.hori {
        flex-direction: row;
    }
    &.vert {
        flex-direction: column;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .avatar {
        position: relative;
        span {
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 32px;
            font-weight: bold;
            background: #E91E63;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    img {
        border-radius: 100%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
    h2 {
        font-size: 12pt;
        text-transform: uppercase;
    }
    #info {
        margin: 1rem;
    }
}

#information {
    width: 50%;
    height: 100%;
    >div {
        height: 50%;
    }
    #statistics {
        &.row div {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            span {
                display: block;
                font-size: 24pt;
                font-weight: normal;
            }
            &#apprentice {
                background-color: #F100A1;
            }
            &#guru {
                background-color: #A035BA;
            }
            &#master {
                background-color: #4362DF;
            }
            &#enlighten {
                background-color: #00A1F2;
            }
            &#burned {
                background-color: #4D4D4D;
            }
        }
    }
    #review {
        background: #424242;
        height: 50%;
        a {
            text-decoration: none;
        }
        &.row a {
            width: 100%;
            height: 100%;
            display: flex;
            div {
                width: 100%;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
            }
            span {
                width: 100%;
                display: block;
                font-size: 24pt;
                font-weight: normal;
            }
            &:hover {
                background: #616161;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1028px) {
    .row.hori {
        flex-direction: column;
    }
    #user,
    #information {
        width: 100%;
        height: initial;
    }
    #user {
        height: 50%;
    }
    #information {
        flex-direction: row !important;
        >div {
            width: 50%;
        }
        #statistics.row>div {
            width: calc(100% - 2rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 1rem;
            span {
                font-size: 14pt;
            }
        }
        #review.row>div {
            width: 100%;
        }
    }
    #app-title {
        text-align: center;
    }
    .settings {
        top: 10px;
        left: 10px;
    }
}

#app-title {
    width: 90%;
    margin: auto;

    img {
        padding: 1rem;
        width: 120px;
        height: 120px;
    }
    h2 {
        margin: 0px;
        opacity: 0.8;
    }
}

section {
    padding: 1rem 0rem;
    width: 90%;
    margin: auto;
}

p {
    padding: 1rem;
    margin: 1rem 0rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: justify;
}

p a {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 1rem;
}

input {
    width: 100%;
    height: 40px;
    font-size: 12pt;
    border: none;
    background: transparent;
    color: #FFFFFF;
    outline: none;
    border-bottom: 2px solid #FFFFFF;
}

input::placeholder {
    color: #FFFFFF;
    opacity: 0.2;
}

label {
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    margin: 1rem 0rem;
}

button {
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    background: #ff00aa;
    color: #FFFFFF;
    font-size: 12pt;
    border: none;
    border-radius: 2px;
}

.settings {
    position: fixed;
    bottom: 10px;
    left: 10px;
    opacity: 0.4;
    &:hover {
        opacity: 0.8;
    }
}

#sidebar {
    width: 20%;
}

#content {
    width: 80%;
}

#version span {
    margin: 1rem 2rem;
    display: block;
    font-size: 14pt;
}

footer {
    padding: 2rem 0rem;
    opacity: 0.8;
    text-align: center;
}